
<div class="container">
    <div class="input-area">
        <h2>I want to go from</h2>
        <app-place-autocomplete
          (placeChanged)="fromValue = $event"
          (nearbyPlacesFound)="onNearbyPlacesFound($event)"
          placeholder="Enter from address..."
        ></app-place-autocomplete>
        <h2>to</h2>
        <app-place-autocomplete
          (placeChanged)="toValue = $event"
          (nearbyPlacesFound)="onNearbyPlacesFound($event)"
          placeholder="Enter to address..."
        ></app-place-autocomplete>
      </div>
</div>
<div class="container-box">

    <div class="align-boxes">
        <div class="col-md-6 lodge-container">

            
            @for (item of fromNearbyPlaces   ; track item) {
                <div class="hotel-card align-boxes">

                    <div class="information-container">
    
                        <div class="align-boxes space-between">
                            <h1 class="bold-text font-size-title">{{item.name}}</h1>
                          
                        </div>
    
                        <div class="align-boxes space-between">
                            <h3>Address: {{item.address}}</h3>
                            <h3 class="move-to-right">
                                Rating:
                                @if (item.rating) {
                                    {{item.rating}}
                                } @else{
                                    Not available
                                } 
                            </h3>
                        </div>
    
                        <div class="align-boxes space-between">
                            <button type="button" class="btn btn-outline-info" (click)="viewInMap(item)" >View in map</button>
                            <button type="button" class="btn btn-outline-dark" (click)="visitSite(item.website)">Go to the
                                Site</button>
                            <button type="button" class="btn btn-outline-success">Select option </button>
    
                        </div>
    
                    </div>
    
                    <div class="image-container">
                        @if(item.imageUrl && item.imageUrl.length){
                            <img src={{item.imageUrl}} alt="Logo" class="">
                        }@else{
                            <img src="../../../../assets/img/no-image.jpg" alt="Logo" class="">
                        }
                    </div>
                </div>
            }
        </div>
             <div class="map-container">
            <app-map-display
            [from]="fromValue"
            [to]="toValue"
            [pointsOfInterest]="allNearbyPlaces"
            [zoomPlace] = "zoomToPlace"
            ></app-map-display>

        </div>

    </div>


</div>