@import "../../../../../assets/utils/_variables";

.toggle-background-color {
    color: $light-color-main;
  }

.container-flex {
  display: flex;
  justify-content: center;
  background-color: $neutro-color-second;
}

.margin-top-0 {
  margin-top: 0% !important;
}

h6 {
    font-size: 23px !important;
    font-family: 'Yeseva One';
    color: $light-color-main !important;
    padding-bottom: 1.5rem;
}

a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

//Color del "General" 
.sidebar-main{
  background-color: $neutro-color-second;
}

.sidebar-link .sidebar-title {
  &:hover {
    background-color: $middle-color-second;
  }

  &:active,
  &.active {
    background-color: $middle-color-main !important;
    color: $light-color-main !important;
  }
}

.padding-right-3 {
  padding-right: 3%;
}
