//variables de color
$background-color: #6d3c52;
$sidebar-color: #4b2137;
$text-color: #ffffff;
$hover-background-color: #fadcd4;
$hover-background-color2: #775d68;
$active-background-color: #6d3c52;
@import "../../../assets/utils/_variables";

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  color: $light-color-main;
  text-align: center;
  font-size: 8vh !important;
}

.font-size-4 {
  font-size: 4vh;
}

.padding-top-7 {
  padding-top: 7vh;
}

.button {
  background-color: $middle-color-main;
  border: none;
  color: $light-color-main;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 1rem;
}

.button:hover {
  background-color: #fadcd4;
  color: $neutro-color-main;
  padding-left: 1.6rem;
}
