<div class="container-fluid">
  <div class="padding-top-7">
    <h2 class="yeseva-one-regular font-size-4">Users</h2>
  </div>
  <div>
    @defer {
      <div class="d-flex justify-content-end pb-2">
        <button
          type="button"
          class="btn btn-primary d-flex align-items-center button"
          (click)="formModal.show()"
        >
          <i class="fa-solid fa-plus white"> </i>
          <p class="mb-0">&nbsp; Add</p>
        </button>
      </div>
      <app-user-list></app-user-list>
    } @loading (after 100ms; minimum 1s) {
      <app-loader></app-loader>
    }
  </div>
</div>

<app-modal size="lg" #formModal>
  <app-user-form [title]="'Add User'"></app-user-form>
</app-modal>
