$background-color: #6D3C52;
$sidebar-color:#4B2137;
$text-color: #ffffff; 
$hover-background-color: #FADCD4; 
$hover-background-color2: #775D68; 
$active-background-color: #6D3C52; 


.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -30px 0 0 -30px;
  width: 30px;
  aspect-ratio: 1;
  background: #FADCD4;
  animation:
    l1-1 2s  infinite,
    l1-2 .5s infinite;
}
.loader:after {
  background:#4B2137;
  animation-delay: -1s,0s;
}
@keyframes l1-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l1-2 {
   80%,100% {transform: rotate(0.5turn)}
}
