@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    transform: translateY(30%);
    padding-left: 1%;
    font-size: 4vh;
}

.logo {
    width: 2.5vw;
    height: 5vh;
}

.padding-1 {
    padding: 1%;
}

.align-boxes {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
