<!-- <div style="text-align:center">
    <h1>Formulario de Búsqueda</h1>
    <form (ngSubmit)="enviarDatos()">

  
      <label for="latitude">Fecha de Check-In:</label>
      <input type="number" id="latitude" name="latitude" [(ngModel)]="latitude" required><br><br>
  
      <label for="longitude">Fecha de Check-Out:</label>
      <input type="number" id="longitude" name="longitude" [(ngModel)]="longitude" required><br><br>
  
      <button type="submit">Enviar</button>
    </form>
  
  </div> -->

  <div class="padding-1 align-boxes">

    <img src="../../../../assets/icons/Round_Voiage.webp" alt="Logo" class="logo">
    <h1 class="title yeseva-one-regular ">Activities</h1>

</div>

<app-activites-card> </app-activites-card>