#Also run this command on the terminal to create the .env.d.ts file
#   ng add ngx-env/builder

#Define the type of the environment variables.
declare interface Env {
  readonly NODE_ENV: string;
  [key: string]: any;
  readonly NG_BASE_URL: 'http://localhost:8080';
  readonly NG_GMAPS_URL: 'https://maps.googleapis.com/maps';
  readonly NG_GMAPS_KEY: 'AIzaSyCrhYYISH1-1_LY9aVv22ut9LIWLgW1WEc';
}

declare interface ImportMeta {
  readonly env: Env;
}

declare const _NGX_ENV_: Env;