<div class="dialog-content">
    <form class="needs-validation" #formCalendarEvent="ngForm" novalidate>
        <h1 class="title">{{dialogTitle}}</h1>

        <div class="form-group pb-2 mb-2">

            <label for="eventTitle">Event Title</label>

            <input type="text" class="form-control" id="title" aria-describedby="airportHelp"
                placeholder="Enter event title" maxlength="50" [(ngModel)]="eventNgmodel.title" [ngClass]="{
                'is-invalid': title.invalid && title.touched,
                'is-valid': title.valid && title.touched
              }" name="title" #title="ngModel" required>
            <div *ngIf="title.invalid" class="invalid-feedback">
                Please enter an event title
            </div>
        </div>

        <div class="form-group pb-2 mb-2">
            <label for="eventDescription">Event Description</label>
            <textarea class="form-control" id="eventDescription" rows="3" class="form-control" id="description"
                aria-describedby="airportHelp" placeholder="Enter event description" maxlength="500"
                [(ngModel)]="eventNgmodel.description" [ngClass]="{'is-invalid': description.invalid && description.touched,
                'is-valid': description.valid && description.touched
                }" name="description" #description="ngModel" required></textarea>

            <div *ngIf="title.invalid" class="invalid-feedback">
                Please enter an event description
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-space-around">
            <div class="form-group pb-2 mb-2">
                <label for="eventType" class="margin-bottom-3 font-size-label">Select Event Type</label>
                <select class="form-select" aria-label="Select your Event Type" [(ngModel)]="eventNgmodel.eventType"
                    [ngClass]="{
                          'is-invalid': eventType.invalid && eventType.touched,
                          'is-valid': eventType.valid && eventType.touched
                        }" name="eventType" id="eventType" #eventType="ngModel" required>
                    <option [ngValue]="'Other'" selected>Other</option>
                    <option [ngValue]="'Activity'">Activity</option>
                    <option [ngValue]="'Restaurant'">Restaurant</option>
                    <option [ngValue]="'Flight'">Flight</option>
                </select>
            </div>

            <mat-form-field class="width-50">
                <mat-label>Event Date</mat-label>
                <input matInput [matDatepicker]="pickerEventDate" [(ngModel)]="eventNgmodel.eventDate" name="eventDate"
                    id="eventDate" #eventDate="ngModel" required>
                <mat-datepicker-toggle matIconSuffix [for]="pickerEventDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEventDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="buttons-container">

            @if (isEdit){
            <button type="submit" class="btn btn-danger" (click)="deleteCalendarEvent()"> Delete Event </button>
            <button type="submit" class="btn btn-primary" (click)="saveCalendarEvent(formCalendarEvent)">Update
                Event</button>
            }@else{
            <button type="submit" class="btn btn-primary" (click)="saveCalendarEvent(formCalendarEvent)"> Create
                Event</button>
            }
        </div>
    </form>
</div>