@import "../../../assets/utils/_variables.scss";

:host {
  display: block;
  width: 1426px;
  margin: 0 auto;
}

h3 {
  color: $light-color-main;
  font-size: 4vh;
  font-family: "Yeseva One";
  padding-bottom: 2rem;
}

canvas {
  background-color: white;
  padding: 3rem;
  border-radius: 0.3rem;
}
