@import "../../../../assets/utils/_variables";

.btn-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .icon-color-edit {
    color: $neutro-color-second; 
  }
  
  .icon-color-delete {
    color: $middle-color-second; 
  }
  
  .btn-icon:hover .icon-color-edit {
    color: #0475ef;
  }
  
  .btn-icon:hover .icon-color-delete {
    color: #cd1208; 
  }

  thead {
    padding: 0.3rem;
    text-align: center;
    color: $light-color-main;
    font-size: 2vh;
  }

  td {
    padding: 0.3rem;
    text-align: center;
    color: $neutro-color-main;
    background-color: white;
  }
  