<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Second Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Country</th>
        <th scope="col">Created At</th>
        <th scope="col">Last Update</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of userList; track item.user_id) {
      <tr>
        <!-- <th scope="row">{{item.id}}</th> -->
        <td>{{item.name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.second_last_name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.role?.role_name}}</td>
        <td>{{item.country?.country_name}}</td>
        <td>{{item.creation_datetime | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{item.last_update_datetime | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <div class="d-flex justify-content-evenly align-items-center">
            <button type="button" (click)="showDetail(item, formModal)" class="btn btn-secondary">
              <i class="fa-solid fa-eye white"
              ></i>
            </button>
            <button type="button" (click)="deleteUser(item)" class="btn btn-danger">
              <i class="fa-solid fa-trash white"
              ></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal size="lg" #formModal>
  <app-user-form 
  [user]="currentUser" 
  [action]="'edit'"
  [title]="'Update User'"
  >
</app-user-form>
</app-modal>