//variables de color 
$neutro-color-main:#1D0F1C;
$neutro-color-second: #2D2230;
$middle-color-main:#4B2137;
$middle-color-second:#6D3C52;
$light-color-main: #FADCD4;
$light-color-second: #775D68;
$line-gradient:linear-gradient(to right, rgba(255, 255, 255, 0.1), #FADCD4, rgba(255, 255, 255, 0.1));
