@import '../../../assets/utils/variables.scss';

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    transform: translateY(30%);
    padding-left: 45%;
    font-size: 6vh;
    color: $light-color-main;
}

.logo-container{
    width: 5%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logo {
    width: 6vh;
    height: 6vh;
}

.logo:hover{
    transform: scale(1.1);
}

.padding-1 {
    padding: 1%;
}

.align-boxes {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.background-color{
    background-color: $neutro-color-second;
}


.title-box {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.stepper-button{
    width: 10%;
    align-items: center; 
    display: flex;
    justify-content: flex-end;
    padding: 1%;
}

.stepper-button button{
    color: $light-color-main;
    background-color: $middle-color-main;
    border: none;
}

.stepper-button button:hover{
    background-color: $light-color-main;
    color: $middle-color-main;
}
