<div class="container mt-5 pt-5">
  <h2 class="fs-2 pb-2 text-center">User Profile</h2>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Personal Information</mat-panel-title>
        <mat-panel-description class="justify-content-between align-items-center">
          Update your personal information
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-update-user></app-update-user>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Countries of Interest</mat-panel-title>
        <mat-panel-description class="justify-content-between align-items-center">
          Update your countries of interest
          <mat-icon>public</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-countries-interest *ngIf="userId" [countryInterestData]="countryInterestData()" [userId]="userId" (saved)="saveCountryInterest($event)"></app-countries-interest>
    </mat-expansion-panel>
  </mat-accordion>
</div>