<div class="padding-1 align-boxes">

    <img src="../../../../assets/icons/Round_Voiage.webp" alt="Logo" class="logo">
    <h1 class="title yeseva-one-regular ">Trip Planning </h1>

</div>

<div class="align-boxes">

    <div class="inputs-card align-boxes card-container ">

        <div class="width-100">
            <div class="display-flex">
                <i class="bi bi-file-earmark-richtext-fill"></i>
                <h1 class="box-title yeseva-one-regular padding-1 class-title-color ">General info</h1>

            </div>

            <form>
                <div class="form-group margin-bottom-10">
                    <label for="destinyCountry font-size-price margin-bottom-3" class="margin-bottom-3 font-size-label">Destination</label>
                    <input type="text" class="form-control" id="destinyCountry" aria-describedby="countryHelp"
                        placeholder="Tell us your destination" required>
                </div>


                <label class="margin-bottom-3 font-size-label" for="lodgeDates">Lodge Dates</label>


                <div class="margin-bottom-10 display-flex space-between">

                    <div class=" width-45 ">
                        <mat-form-field class="width-100">
                            <mat-label >Check In Date</mat-label>
                            <input matInput [matDatepicker]="pickerCheckIn">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerCheckIn"></mat-datepicker-toggle>
                            <mat-datepicker #pickerCheckIn></mat-datepicker>
                        </mat-form-field>


                    </div>


                    <div class="width-45 ">

                        <mat-form-field class="width-100">
                            <mat-label>Check Out Date</mat-label>
                            <input matInput [matDatepicker]="pickerCheckOut">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerCheckOut"></mat-datepicker-toggle>
                            <mat-datepicker #pickerCheckOut></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>

                <div class="display-flex space-between margin-bottom-10">

                    <div class="form-group width-45">
                        <label for="latitude" class="margin-bottom-6 font-size-label">Latitude</label>
                        <input type="number" class="form-control" id="latitude" aria-describedby="airportHelp"
                            placeholder="Latitude" required required >
                    </div>

                    <div class="form-group width-45">
                        <label for="longitude" class="margin-bottom-6 font-size-label">Longitude</label>
                        <input type="number" class="form-control" id="longitude"
                            aria-describedby="airportDestinyHelp" placeholder="Longitude" required maxlength="3">
                    </div>

                </div>
            </form>


        </div>

    </div>



    <div class="inputs-card align-boxes card-container">

        <div class="width-100">


            <div class="display-flex">
                <i class="bi bi-airplane-engines-fill"></i>
                <h1 class="box-title yeseva-one-regular padding-1 class-title-color">Flights</h1>

            </div>

            <form>

                <div class="display-flex space-between margin-bottom-10">

                    <div class="form-group width-45">
                        <label for="departureAirport" class="margin-bottom-6 font-size-label">Departure Airport</label>
                        <input type="text" class="form-control" id="departureAirport" aria-describedby="airportHelp"
                            placeholder="Indicate an airport" required required maxlength="3">
                    </div>

                    <div class="form-group width-45">
                        <label for="destinyAirport" class="margin-bottom-6 font-size-label">Destination Airport</label>
                        <input type="text" class="form-control" id="destinyAirport"
                            aria-describedby="airportDestinyHelp" placeholder="Indicate an airport" required maxlength="3">
                    </div>

                </div>

                <div class="margin-bottom-10">

                    <label for="flightType" class="margin-bottom-3 font-size-label">Select your type of Flight</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected value="1">Round Trip</option>
                        <option value="2">One Way</option>

                    </select>
                </div>

                <label class="margin-bottom-3 font-size-label" for="lodgeDates">Flight Dates</label>

                <div class="margin-bottom-10 display-flex space-between">

                    <div class=" width-45 ">
                        <mat-form-field class="width-100">
                            <mat-label >Departure Date</mat-label>
                            <input matInput [matDatepicker]="pickerDeparture">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDeparture></mat-datepicker>
                        </mat-form-field>


                    </div>


                    <div class="width-45 ">

                        <mat-form-field class="width-100">
                            <mat-label>Return Date</mat-label>
                            <input matInput [matDatepicker]="pickerReturn">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerReturn"></mat-datepicker-toggle>
                            <mat-datepicker #pickerReturn></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>

                <div class="margin-bottom-10">

                    <label for="numberStops" class="margin-bottom-3 font-size-label">Select number of stops</label>
                    <select class="form-select" aria-label="Select number of stops">
                        <option selected value="0">Any number of stops</option>
                        <option value="1">Nonstop only</option>
                        <option value="2">1 stop or fewer</option>
                        <option value="3">2 stops or fewer</option>

                    </select>
                </div>



            </form>
        </div>




    </div>
<!-- 
    <div class="inputs-card align-boxes card-container">
        <h1 class="box-title yeseva-one-regular "> Map</h1>
    </div> -->

</div>