<div class="container-box">

    <div class="align-boxes">

        <div *ngIf="isLoading" class="col-md-6 lodge-container loader-desing">
            <app-loader></app-loader>
        </div>

        <div class="col-md-6 lodge-container" *ngIf="!isLoading">

            @for (item of yelpFoodResponseList ; track item.id) {
            <div class="hotel-card align-boxes">

                <div class="information-container">

                    <div class="align-boxes space-between">
                        <h1 class="bold-text font-size-title">{{item.name}}</h1>
                        <h1 class="move-to-right font-size-price">Rating: {{item.rating}}</h1>
                    </div>

                    <div class="align-boxes space-between">
                        <h3>Address: {{item.location?.address1}}</h3>
                        <h3 class="move-to-right">City: {{item.location?.city}}</h3>
                    </div>

                    <div class="width-100">
                        <h2>Type:</h2>
                        <ul class="circle-list">
                            @for (transaction of item.transactions ; track generateId) {
                            <li>{{transaction}}</li>
                            }

                        </ul>

                    </div>

                    <div class="align-boxes space-between">
                        <button type="button" class="btn btn-outline-info ">View in map</button>
                        <button type="button" class="btn btn-outline-dark" (click)="visitSite(item.url)">Go to the
                            Site</button>
                        <button type="button" class="btn btn-outline-success"(click)="selectOption(0)">Select option </button>

                    </div>

                </div>

                <div class="image-container">
                    @if(item.image_url && item.image_url.length){
                    <img src={{item.image_url}} alt="Logo" class="">
                    }@else{
                    <img src="../../../../assets/img/no-image.jpg" alt="Logo" class="">
                    }
                </div>



            </div>
            }


        </div>
        <div class="map-container">
            <app-maps></app-maps>

        </div>

    </div>


</div>