@if(showCalendar){
  <div class="wrapper">
    <main>
      <div class="toolbar">
  
        <div class="col-11 calendar-header">
          <!-- Botón para mes anterior  y siguente -->
          <button (click)="previousMonth()" class="toggle__option toggle__option--selected">&#60;</button>
          <span class="month-tittle">{{ monthNames[month] }}, {{ year }}</span>
          <button (click)="nextMonth()" class="toggle__option toggle__option--selected">&#62;</button>
        </div>
  
        <div class="col-1 button-header">
          <button type="button" class="btn btn-secondary" (click)="openDialog(false , null)">Create</button>
        </div>
  
      </div>
      <div class="calendar">
        <div class="calendar__header">
          <div>mon</div>
          <div>tue</div>
          <div>wed</div>
          <div>thu</div>
          <div>fri</div>
          <div>sat</div>
          <div>sun</div>
        </div>
  
        @for( week of weeks; track week){
        <div class="calendar__week">
          @for( day of week; track day){
            <div class="calendar__day day">
              @if(day.day !== 0){
                <span>{{ day.day }}</span>
                  @for( event of day.events; track event){
                    <div class="event" (click)="openDialog(true,event)">
                      <div class="event__time">{{ event.title }}</div>
                      <div class="event__title">{{ event.description }}</div>
                    </div>
                  }
              }
            </div>
          }
        </div>
        }
      </div>
    </main>
  </div>
}