<div class="wrapper">
  <main>
    <div class="toolbar">
      <button (click)="previousMonth()" class="toggle__option toggle__option--selected">&#60;</button>
      <!-- Botón para mes anterior -->
      <span class="month-tittle">{{ monthNames[month] }}, {{ year }}</span> <!-- Nombre del mes y año -->
      <button (click)="nextMonth()" class="toggle__option toggle__option--selected">&#62;</button>


    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
        <div>sun</div>
      </div>

      @for( week of weeks; track week){
      <div class="calendar__week">
        @for( day of week; track day){
        <div class="calendar__day day">
          @if(day.day !== 0){
          <span>{{ day.day }}</span>
          @for( event of day.events; track event){
          <div class="event">
            <div class="event__time">{{ event.time }}</div>
            <div class="event__title">{{ event.title }}</div>
          </div>
          }
          }
        </div>
        }
      </div>
      }

    </div>
  </main>

</div>