<div class="login-container">
  <header>
    <h1 class="d-flex">
      <img src="/assets/img/Round_Voiage_2.webp" alt="voige-logo" />
      <p class="flex-grow-1 text-center mb-0 fs-1">The Wise Journey</p>
    </h1>
  </header>
  <div class="d-flex align-items-center justify-content-center h-auto">
    <div class="login-card">
      <div class="w-100">
        <h2 class="fs-2 pb-2">Sign Up</h2>
        <div class="login-main">
          <form (ngSubmit)="handleSignup($event)" autocomplete="off" [formGroup]="signUpForm" class="container">
            <div class="row form-group mb-3">
              <div class="col-4 form-group px-1">
                <label for="name" class="form-label mb-2">
                  Name
                </label>
                <input formControlName="name" #name type="text" class="form-control" id="name" name="name"
                  placeholder="User" [ngClass]="{
                    'is-invalid': signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched,
                    'is-valid': signUpForm.get('name')?.valid && signUpForm.get('name')?.touched
                  }" />
                <div *ngIf="signUpForm.get('name')?.invalid" class="invalid-feedback">
                  Please add a valid name
                </div>
              </div>
              <div class="col-4 px-1">
                <label for="lastname" class="form-label mb-2">
                  Lastname
                </label>
                <input formControlName="lastname" #lastname type="text" class="form-control" id="lastname" name="lastname"
                  placeholder="demo" [ngClass]="{
                    'is-invalid': signUpForm.get('lastname')?.invalid && signUpForm.get('lastname')?.touched,
                    'is-valid': signUpForm.get('lastname')?.valid && signUpForm.get('lastname')?.touched
                  }" />
                <div *ngIf="signUpForm.get('lastname')?.invalid" class="invalid-feedback">
                  Please add a valid lastname
                </div>
              </div>
              <div class="col-4 px-1">
                <label for="lastname" class="form-label mb-2">
                  2nd Lastname
                </label>
                <input formControlName="secondLastname" #secondLastname type="text" class="form-control" id="second-lastname" name="secondLastname"
                  placeholder="demo" />
              </div>
            </div>
            <div class="row form-group mb-3">
              <div class="col-6 ps-0">
                <label for="email" class="form-label mb-2">
                  Email Address
                </label>
                <input formControlName="email" #email type="text" class="form-control" id="email" name="email"
                  placeholder="agent@gmail.com" [ngClass]="{
                    'is-invalid': signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched,
                    'is-valid': signUpForm.get('email')?.valid && signUpForm.get('email')?.touched
                  }" />
                <div *ngIf="signUpForm.get('email')?.invalid" class="invalid-feedback">
                  Please add a valid email
                </div>
              </div>
              <div class="col-6 pe-0">
                <label for="birthDate" class="form-label mb-2">
                  Birth Date
                </label>
                <div class="datepicker-wrapper">
                  <input formControlName="birthDate" #birthDate matInput [matDatepicker]="picker" class="form-control" id="birth-date" name="birthDate"
                    placeholder="agent@gmail.com" [ngClass]="{
                      'is-invalid': signUpForm.get('birthDate')?.invalid && signUpForm.get('birthDate')?.touched,
                      'is-valid': signUpForm.get('birthDate')?.valid && signUpForm.get('birthDate')?.touched
                    }" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div *ngIf="signUpForm.get('birthDate')?.invalid" class="invalid-feedback">
                  Please add a valid birth date
                </div>
              </div>
            </div>
            <div class="row form-group mb-3">
              <div class="col-6 ps-0">
                <label for="password" class="form-label mb-2">Password</label>
                <div class="form-input position-relative">
                  <input formControlName="password" #password type="password" class="form-control" id="password" name="password"
                  placeholder="*****" [ngClass]="{
                    'is-invalid': signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched,
                    'is-valid': signUpForm.get('password')?.valid && signUpForm.get('password')?.touched
                  }" />
                  <div *ngIf="signUpForm.get('password')?.invalid" class="invalid-feedback">
                    Please add a valid password
                  </div>
                </div>
              </div>
              <div class="col-6 pe-0">
                <label for="passwordConfirmed" class="form-label mb-2">Confirm Password</label>
                <div class="form-input position-relative">
                  <input formControlName="passwordConfirmed" #passwordConfirmed type="password" class="form-control" id="password-confirmation" name="passwordConfirmed"
                  placeholder="*****" [ngClass]="{
                    'is-invalid': signUpForm.get('passwordConfirmed')?.invalid && signUpForm.get('passwordConfirmed')?.touched,
                    'is-valid': signUpForm.get('passwordConfirmed')?.valid && signUpForm.get('passwordConfirmed')?.touched
                  }" />
                  <div *ngIf="signUpForm.get('passwordConfirmed')?.invalid" class="invalid-feedback">
                    Passwords do not match
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group mb-5">
              <div class="col-6 ps-0">
                <label for="country" class="form-label mb-2">Country</label>
                <div class="form-input position-relative">
                  <input formControlName="countryId" [matAutocomplete]="autoCountries" class="form-control" id="country" name="country"
                  [ngClass]="{
                    'is-invalid': signUpForm.get('countryId')?.invalid && signUpForm.get('countryId')?.touched,
                    'is-valid': signUpForm.get('countryId')?.valid && signUpForm.get('countryId')?.touched
                  }" />
                  <mat-autocomplete #autoCountries="matAutocomplete" [displayWith]="displayCountryName" (optionSelected)="updateCurrency($event)">
                    @for (country of filteredCountries$ | async; track country) {
                      <mat-option [value]="country.id">{{country.name}}</mat-option>
                    }
                  </mat-autocomplete>
                  <div *ngIf="signUpForm.get('countryId')?.invalid" class="invalid-feedback">
                    Please add a valid country
                  </div>
                </div>
              </div>
              <div class="col-6 pe-0">
                <label for="country" class="form-label mb-2">Currency</label>
                <div class="form-input position-relative">
                  <input #currencyInput formControlName="currencyId" [matAutocomplete]="autoCurrencies" class="form-control" id="currency" name="currency"
                  [ngClass]="{
                    'is-invalid': signUpForm.get('currencyId')?.invalid && signUpForm.get('currencyId')?.touched,
                    'is-valid': signUpForm.get('currencyId')?.valid && signUpForm.get('currencyId')?.touched
                  }" />
                  <mat-autocomplete #autoCurrencies="matAutocomplete" [displayWith]="displayCurrencyName">
                    @for (currency of filteredCurrencies$ | async; track currency) {
                      <mat-option [value]="currency.id">{{currency.name}}</mat-option>
                    }
                  </mat-autocomplete>
                  <div *ngIf="signUpForm.get('currencyId')?.invalid" class="invalid-feedback">
                    Please add a valid currency
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group px-0 mb-1">
              <button class="btn btn-primary btn-block w-100" type="submit" [disabled]="signUpForm.invalid">
                Sign up
              </button>
              @if(signUpError) {
                <p class="text-danger">{{signUpError}}</p>
              } @else if (validSignup){
                <p class="text-success">User registered, please go to login</p>
              }
            </div>
            <div class="row text-center">
              <p>Already have an account? <a href="/login">Sign in</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="fixed-bottom text-white d-flex justify-content-between align-items-center">
    <p class="text-center w-100">&copy; Equix-Digital {{currentYear}}</p>
    <img src="/assets/img/Round_Voiage_2.webp" alt="voige-logo" class="pb-3 pt-2" />
  </footer>
</div>