.login-container {
  height: 100vh;
  background: linear-gradient(
      #2d2230,
      #2d2230 10%,
      #1d0f1c 30%,
      #1d0f1c 70%,
      #2d2230 90%,
      #2d2230
    )
    #1d0f1c;
  padding: 20px 20%;
  position: relative;

  header {
    margin-bottom: 5%;

    img {
      width: 60px;
    }
    p {
      color: #fadcd4;
      line-height: 54px;
    }
  }

  div:has(.login-card) {
    height: calc(100% - 280px);
  }

  footer {
    margin: 0 20%;
    border-top: 2px solid #fadcd4;

    img {
      width: 90px;
    }
  }

  .login-card {
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
    margin: 0 auto;
    background: #fadcd4;

    h2 {
      border-bottom: 2px solid #1d0f1c;
    }
  }
  .invalid-feedback {
    position: absolute;
    margin-top: 0px;
  }

  .datepicker-wrapper {
    position: relative;

    mat-datepicker-toggle {
      position: absolute;
      top: -4px;
      right: 20px;
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1500px) {
    padding: 20px 5%;
    .login-card {
      width: 60%;
      .login-main {
        padding: 0px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    padding: 20px 5%;
    .login-card {
      width: 100%;
      .login-main {
        padding: 0px;
      }
    }
  }
}
