<body class="body-background">
  <nav class="navbar navbar-light background-yellow">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/icons/logo@2x.png" width="30" height="30" class="d-inline-block align-top" alt="">

    </a>
  </nav>

  <div class="container-fluid p-0">

    <section class="hero-section d-flex align-items-center justify-content-center">
      <div class="hero-content text-center">
        <img src="../../../assets/img/Letters_Voiage.webp" alt="" class="voiage-letter-logo">
        <p class="subtitle">The Wise Journey</p>
        <a href="#" class="btn btn-primary">Start Planning</a>
      </div>
    </section>
  </div>

  <div class="row about-us-section">
    <h1>About Us </h1>
    <div class="gradient-line"></div>
    <p>At the heart of our team lies a passion for innovation and a commitment to excellence.</p>
    <div class="margin-bottom-5">
      <img src="../../../assets/img/team2.jpg" alt="" class="team-image">
    </div>
  </div>

  <!-- Seccion de tarjetas del equipo  -->

  <div class="row">
    <div class="col-md-4">

      <div class="team-card">
        <img src="../../../assets/img/ivan.jpeg" alt="Juan Diego Sequeira Guzmán" class="team-photo">
        <h3>Juan Diego Sequeira Guzmán</h3>
        <h4>Coordinador General</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="team-card">

        <img src="../../../assets/img/nefi.jpeg" alt="Nefi Ureña" class="team-photo">
        <h3>Nefi Ureña</h3>
        <h4>Soporte 2</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>

      </div>
    </div>

    <div class="col-md-4">
      <div class="team-card">
        <img src="../../../assets/img/ivan.jpeg" alt="Ivan Wu Cen" class="team-photo">
        <h3>Ivan Wu Cen</h3>
        <h4>Coordinador de Calidad</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <div class="team-card">
        <img src="../../../assets/img/kendall.jpeg" alt="Kendall Durán Valerio" class="team-photo">
        <h3>Kendall Durán Valerio</h3>
        <h4>Soporte 1</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-card">
        <img src="../../../assets/img/juan.jpg" alt="Juan Martinez Valle" class="team-photo">
        <h3>Juan Martinez Valle</h3>
        <h4>Coordinador de desarrollo</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
      </div>
    </div>
  </div>

</body>