<body class="body-background">
  <nav class="navbar navbar-light background-yellow">
    <a class="navbar-brand padding-left-1" href="#">
      <img src="../../../assets/icons/logo_equix.png" width="30" height="30" class="d-inline-block align-top padding-left-1" alt="">

    </a>
  </nav>

  <div class="container-fluid p-0">

    <section class="hero-section d-flex align-items-center justify-content-center">
      <div class="hero-content text-center">
        <img src="../../../assets/img/Letters_Voiage.webp" alt="" class="voiage-letter-logo">
        <p class="subtitle">The Wise Journey</p>
        <a href="#" class="btn btn-primary">Start Planning</a>
      </div>
    </section>
  </div>

  <div class="row about-us-section">
    <h1>About Us </h1>
    <div class="gradient-line"></div>
    <p>At the heart of our team lies a passion for innovation and a commitment to excellence.</p>
    <div class="margin-bottom-5">
      <img src="../../../assets/img/team2.jpg" alt="" class="team-image">
    </div>
  </div>

  <!-- Seccion de tarjetas del equipo  -->

  <div class="row">
    <div class="col-md-4">

      <div class="team-card">
        <img src="../../../assets/img/juanD.jpg" alt="Juan Diego Sequeira Guzmán" class="team-photo">
        <h3>Juan  Sequeira Guzmán</h3>
        <h4>Coordinador General</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="../../../assets/icons/linkind_black.png" alt="LinkedIn"></a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="team-card">

        <img src="../../../assets/img/nefi.jpeg" alt="Nefi Ureña" class="team-photo">
        <h3>Nefi Ureña</h3>
        <h4>Soporte 2</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="../../../assets/icons/linkind_black.png" alt="LinkedIn"></a>

      </div>
    </div>

    <div class="col-md-4">
      <div class="team-card">
        <img src="../../../assets/img/ivan.jpeg" alt="Ivan Wu Cen" class="team-photo">
        <h3>Ivan Wu Cen</h3>
        <h4>Coordinador de Calidad</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="../../../assets/icons/linkind_black.png" alt="LinkedIn"></a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <div class="team-card">
        <img src="../../../assets/img/kendall.jpeg" alt="Kendall Durán Valerio" class="team-photo">
        <h3>Kendall Durán Valerio</h3>
        <h4>Soporte 1</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="../../../assets/icons/linkind_black.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="team-card">
        <img src="../../../assets/img/juan.jpg" alt="Juan Martinez Valle" class="team-photo">
        <h3>Juan Martinez Valle</h3>
        <h4>Coordinador de desarrollo</h4>
        <p>Commodo qui nulla ipsum ea cupidatat sit aliquip dolor.</p>
        <a href="#"><img src="../../../assets/icons/linkind_black.png" alt="LinkedIn"></a>
      </div>
    </div>
  </div>

  <div class="container my-5 mb-5">
    <div class="row align-items-center mb-5">
        <div class="col-md-5">
            <div class="mission-vision-card">
                <h2>Misión</h2>
                <p>Proveer soluciones innovadoras y de alta calidad en el desarrollo de software que impulsen la transformación digital de nuestros clientes, contribuyendo al crecimiento y eficiencia de sus negocios. Nos caracteriza el compromiso de ofrecer un servicio personalizado, basado en la excelencia técnica, creatividad e integridad.</p>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <div class="vertical-line-yellow"></div>
        </div>
        <div class="col-md-5">
            <div class="mission-vision-card">
                <h2>Visión</h2>
                <p>Ser una empresa referente en desarrollo de software en la región, reconocida por nuestra capacidad de adaptación a las necesidades del mercado, la innovación constante y el impacto positivo en nuestros clientes. Aspiramos a crear un entorno de trabajo inspirador que fomente el talento y la colaboración, promoviendo el desarrollo sostenible y la responsabilidad social.</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-center">
      <img src="../../../assets/icons/equix_letras.png" alt="" class="margin-equix">
    </div>
</div>

</body>