<div class="container-box">
    <div class="align-boxes">
        <div class="col-md-6 flight-container">
            @for (item of googleFlightsResponseList.flights   ; track trackByIndex) {
                <div class="flight-card align-boxes">
                    <div class="information-container">
                        <div class="align-boxes space-between">
                            <h1 class="bold-text font-size-title">From:{{item.departure_airport?.name}} , {{item.departure_airport?.id}}</h1>
                            <h2 class="move-to-right font-size-price">To:{{item.arrival_airport?.name}} , {{item.arrival_airport?.id}}</h2>
                            <p class=" ">{{item.duration}}</p>
                            <p class=" ">{{item.travel_class}}</p>
                            <p class=" ">{{item.flight_number}}</p>
                        </div>

                        @for (item of googleFlightsResponseList.layovers ; track trackByIndex) {
                            <div class="align-boxes space-between">
                                <h1 class="bold-text font-size-title">From:{{item.name}} , {{item.id}}</h1>
                                <p class=" ">{{item.duration}}</p>
                            </div>
                        }
                        
                        
                        <!-- <div class="align-boxes space-between">
                            <h3>Stats: {{item.overall_rating}}/5</h3>
                            <h3 class="move-to-right">Price per night {{item.rate_per_night?.lowest}}</h3>
                        </div> -->
    
                        <!-- <div class="width-100">
                            <h2>Amenities:</h2>
                            <ul class="circle-list">
                                @for (amenity of item.amenities   ; track generateId) {
                                    <li>{{amenity}}</li>

                                }

                            </ul>
                        </div> -->
                        <div class="align-boxes space-between">
                            <button type="button" class="btn btn-success ps-3">Add</button>
                        </div>
                    </div>
                    <div class="image-container">
                        @if(item.airline_logo && item.airline_logo .length){
                            <img [src]="item.airline_logo" alt="airline_logo" class="">
                        }@else{
                            <img src="../../../../assets/img/no-image.jpg" alt="airline_logo" class="">
                        }
                    </div> 
                </div>
            }
        </div>
        <!-- <div class="map-container">
        </div> -->
    </div>
</div>