@import "../../../assets/utils/_variables";

.container-fluid {
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100%;
    overflow: hidden;  
}

google-map .maps{
    height: 100%;
    width: 100%;
}

.loader-desing{
    align-items: center;
}

.lodge-container {
    width: 60%;
    max-width: 90%;
    height: 100vh;
    max-height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}
