<button class="addLocBnt" (click)="saveLocation()">Save Location Test</button>

<google-map class="maps"  height="100vh" width="100%" 
(mapReady)="onMapReady()" 
[center]="center"
[zoom]="zoom"
(mapClick)="moveMap($event)"
(mapClick)="addOneMarker($event)">
@for (position of markerPositions; track position) {
  <map-marker [position]="position" [options]="markerOptions" />
}> 
    <div *ngIf="isLoading" class="col-md-6 lodge-container loader-desing">
        <app-loader></app-loader>
    </div>
</google-map>
