//Gradient for Voiage background
$custom-gradient: linear-gradient(to bottom, #2d2230, #1d0f1c, #4b2137);
//Variables de color
$neutro-color-main: #1d0f1c;
$neutro-color-second: #2d2230;
$middle-color-main: #4b2137;
$middle-color-second: #6d3c52;
$light-color-main: #fadcd4;
$light-color-second: #775d68;
//Line gradient
$line-gradient: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.1),
  #fadcd4,
  rgba(255, 255, 255, 0.1)
);

.card {
  padding: 1rem;
  width: 420px;
  height: 379px;
  background: url("/assets/img/ai-icon.png") no-repeat top right / 100px;
  background-color: white;
  .content {
    height: 300px;
  }

  h3 {
    font-family: "Yeseva One";
    font-size: 2.3vh;
    color: $neutro-color-main;
  }

  strong {
    font-family: "Yeseva One";
    color: $middle-color-main;
  }

  li {
    font-family: "Roboto Flex";
  }

  a {
    font-family: "Roboto Flex";
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $middle-color-second;
    text-decoration: none;
  }
  a:hover {
    color: green;
  }

  .country-name,
  .total-label {
    margin-right: auto;
  }

  .total {
    margin-top: auto;
  }
}
