<div class="card shadow">
  <ng-container *ngIf="tripRecommendation() as tripRecommendation">
    <div class="card-body">
      <h3 class="card-title fw-bold">{{tripRecommendation.city}}, {{tripRecommendation.country}}</h3>
      @if (countryFlags) {
        <img class="shadow"
          src="https://flagcdn.com/w80/{{getCountryFlag(tripRecommendation.country)}}.png"
          srcset="https://flagcdn.com/w160/{{getCountryFlag(tripRecommendation.country)}}.png 2x"
          width="80"
          alt="{{tripRecommendation.country}}">
      }
    </div>
    <div class="card-body">
      <strong>Reasons to travel:</strong>
    </div>
    <ul class="list-group list-group-flush">
      @if (tripRecommendation.reasons.length !== 0) {
        @for (reason of tripRecommendation.reasons; track reason) {
          <li class="list-group-item">{{reason}}</li>
        }
      } @else {
        <li class="list-group-item">No recommendation available</li>
      }
    </ul>
    <div class="card-body">
      <a href="#" class="card-link" (click)="openModal($event)">See more</a>
    </div>
  </ng-container>
</div>
<app-modal *ngIf="tripRecommendation()" [title]="tripRecommendation()?.city + ', ' + tripRecommendation()?.country">
  <p>
    {{tripRecommendation()?.description}}
  </p>
</app-modal>