<div style="text-align:center">
    <h1>Formulario de Búsqueda</h1>
    <form (ngSubmit)="enviarDatos()">
      <label for="destino">Destino:</label>
      <input type="text" id="destino" name="destino" [(ngModel)]="destino" required><br><br>
  
      <label for="checkIn">Fecha de Check-In:</label>
      <input type="date" id="checkIn" name="checkIn" [(ngModel)]="checkIn" required><br><br>
  
      <label for="checkOut">Fecha de Check-Out:</label>
      <input type="date" id="checkOut" name="checkOut" [(ngModel)]="checkOut" required><br><br>
  
      <button type="submit">Enviar</button>
    </form>
  
    <h2>Resultado JSON:</h2>
    <pre>{{ resultado | json }}</pre>
  </div>
  