
<div class="login-container">
  <div class="container-voiage">
    <img src="../../../../assets/img/Letters_Voiage.webp" class="voiage-image"/>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-4">
    <div class="login-card">
      <div class="w-100">

        <div class="login-main">

          <form (ngSubmit)="handleResetPassword($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3 ">
              <h1 class="yeseva-one-regular font-size-4">Reset Password</h1>
            </div>

            <div class="custom-line">

            </div>

            <div class="form-group mb-3 input-horizontal-margin">
              <input #email="ngModel" type="text" class="form-control" id="email" name="email"
                placeholder="Email" [(ngModel)]="resetPasswordForm.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Please add a valid email
              </div>
              <div *ngIf="email.invalid" class="invalid-feedback">
                Please add a valid email
              </div>
            </div>
            <div class="form-group mb-0 input-horizontal-margin">
              <button class="btn btn-login btn-block w-100 yeseva-one-regular" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-line"></div>
    <img src="../../../../assets/icons/Round_Voiage_2.webp" alt="Logo" class="footer-logo">
</footer>
</div>
