//Gradient for Voiage background
$custom-gradient: linear-gradient(to bottom, #2D2230, #1D0F1C, #4B2137,);
//Variables de color 
$neutro-color-main:#1D0F1C;
$neutro-color-second: #2D2230;
$middle-color-main:#4B2137;
$middle-color-second:#6D3C52;
$light-color-main: #FADCD4;
$light-color-second: #775D68;
//Line gradient
$line-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.1), #FADCD4, rgba(255, 255, 255, 0.1));

/**=====================
     47. Footer CSS Start
==========================**/
.footer{
  background-color: $middle-color-main;
  color: $white;
  box-shadow: $footer_box_shadow;
  padding: 15px;
  bottom: 0;
  left: 0;
  margin-left: $sidebar-compact-width;
  transition: 0.5s;  
  &.footer-dark{
    background-color: $footer_dark_color;
    p{
      color: $white;
    }
  }
}
.footer-fix{
  width: calc(100% - $sidebar-compact-width);
  position: fixed;
}
/**=====================
     47. Footer CSS Ends
==========================**/
