@import "./footer";
@import "./grid.scss";
@import "./header.scss";
@import "./navs.scss";
@import "./search.scss";
@import "./select2.scss";
@import "./sidebar.scss";
@import "./rtl.scss";
@import "./box-layout.scss";
@import "../components/print.scss";
@import "../themes/responsive.scss";
@import "../components/bookmark.scss";

//Gradient for Voiage background
$custom-gradient: linear-gradient(to bottom, #2D2230, #1D0F1C, #4B2137,);
//Variables de color 
$neutro-color-main:#1D0F1C;
$neutro-color-second: #2D2230;
$middle-color-main:#4B2137;
$middle-color-second:#6D3C52;
$light-color-main: #FADCD4;
$light-color-second: #775D68;
//Line gradient
$line-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.1), #FADCD4, rgba(255, 255, 255, 0.1));
