@import "../../../assets/utils/_variables";

.price-detail-container {
  top: 152px;
  left: 980px;
  width: 100%;
  height: fit-content;
  /* white */
  border-radius: 5%;
  padding: 5%;
  background: $custom-gradient-three;
}

.details-container {
  display: flex;
  justify-content: space-between;
  padding: 4% 9%;
}

.tittle-text {
  font-family: "Yeseva One", serif;
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 700;
  color: $light-color-main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-detail-text {
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 500;
  color: $light-color-main;
  font-family: "Roboto Flex", sans-serif;
}

.right-detail-text {
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 500;
  color: $light-color-main;
  font-family: "Roboto Flex", sans-serif;
}

.total-text{
  font-size: 2rem;
  line-height: 22px;
  font-weight: 500;
  font-weight: 700;
  color: $light-color-main;
  font-family: "Yeseva One", serif;
}

.total-price{
  font-size: 2rem;
  line-height: 22px;
  font-weight: 500;
  font-weight: 700;
  color: $light-color-main;
  font-family: "Yeseva One", serif;
}

.line {
  width: 100%;
  border-width: 1px;
  border-color: $light-color-second;
  border-style: solid;
  transform: rotate(180deg);
}

hr {
  border-width: 1px;
  border-color: $light-color-second;
  border-style: solid;
  transform: rotate(180deg);
}

.margin-top-2 {
  margin-top: 2%;
}
